@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap');




#background {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/bg04.jpg"), #000000;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#logo  {
    font-family: 'Lexend Deca';
    position: absolute;
    width: 170px;
    height: 30px;
    left: 50px;
    top: 35px;

    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 62px;

    color: #FFFFFF;

    letter-spacing: 0.05em;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}


#user_signup {
    position: absolute;
    width: 40px;
    height: 500px;
    left: 50px;
    top: 105px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 90px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;
}



#border-highlight {
    position: absolute;
    width: 400px;
    height: 8px;
    left: 50px;
    top: 100px;

    background: #FF9900;
} 



#gradient {
    /* Rectangle 27 */

    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: radial-gradient(199.27% 199.27% at 50% 50%, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 61.33%);

}
#t1 {
    position: absolute;
    width: 177px;
    height: 39px;
    left: 4vw;
    top: 30vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#t2 {
    position: absolute;
    width: 171px;
    height: 39px;
    left: 4vw;
    top: 38vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#t3 {
    position: absolute;
    width: 106px;
    height: 39px;
    left: 4vw;
    top: 46vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#t4 {
    position: absolute;
    width: 168px;
    height: 39px;
    left: 4vw;
    top: 54vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#gender {
    position: absolute;
    width: 117px;
    height: 39px;
    left: 4vw;
    top: 58vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}
#t5 {
    position: absolute;
    width: 116px;
    height: 39px;
    left: 24vw;
    top: 63vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

}
#t6 {
    position: absolute;
    width: 76px;
    height: 39px;
    left: 34vw;
    top: 63vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;
}
#t7 {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 4vw;
    top: 70vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#account {
    position: absolute;
    width: 135px;
    height: 39px;
    left: 780px;
    top: 30vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

}
#t8 {
    position: absolute;
    width: 118px;
    height: 39px;
    left: 66vw;
    top: 33.5vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

#t9 {
    position: absolute;
    width: 139px;
    height: 39px;
    left: 78vw;
    top: 33.5vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    transform: rotate(-0.37deg);
}
#t10 {
    position: absolute;
    width: 172px;
    height: 39px;
    left: 780px;
    top: 43.5vh;

    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#t11 {
    position: absolute;
    width: 119px;
    height: 39px;
    left: 780px;
    top: 53vh;

    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#t12 {
    position: absolute;
    width: 152px;
    height: 39px;
    left: 780px;
    top: 62vh;

    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#t13 {
    position: absolute;
    width: 131px;
    height: 39px;
    left: 780px;
    top: 71vh;

    font-family: Cabin;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




input[type=text] {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: white;
    text-align: center;
}



input[type=password] {
    
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: white;
    text-align: center;

}

input[type=email] {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: white;
    text-align: center;
}


input[type=submit] {
    
    position: absolute;
    width: 280px;
    height: 55px;
    left: 0vw;
    top: 0vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    
    /* identical to box height */
    letter-spacing: 0.1em;

    color: white;

}



input[type=date]{
    
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: rgb(161, 161, 161);
    text-align: center;
}



#Fname {

    position: absolute;
    width: 280px;
    height: 45px;
    left: 21vw;
    top: 30vh   ;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;

}



#Lname {

    position: absolute;
    width: 280px;
    height: 45px;
    left: 21vw;
    top: 38vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
    
}



#email {
    
    position: absolute;
    width: 280px;
    height: 45px;
    left: 21vw;
    top: 46vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
}


#number {
    position: absolute;
    width: 280px;
    height: 45px;
    left: 21vw;
    top: 54vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
}



#dob {
    position: absolute;
    width: 280px;
    height: 45px;
    left: 21vw;
    top: 70vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
}


#profession {

    position: absolute;
    width: 280px;
    height: 45px;
    left: 63.5vw;
    top: 43.5vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;

}


#salary {

    position: absolute;
    width: 280px;
    height: 45px;
    left: 63.5vw;
    top: 52.9vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;

}


#password {
    position: absolute;
    width: 280px;
    height: 45px;
    left: 63.5vw;
    top: 62vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
}

#password_re {
    position: absolute;
    width: 280px;
    height: 45px;
    left: 63.5vw;
    top: 71vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
}



#Submit {

    position: absolute;
    width: 300px;
    height: 55px;
    left: 38vw;
    top: 82vh;

    border: 3px solid #FF9900;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;
    
    cursor: pointer;

}

#admin_register_text {
    position: absolute;
    width: 182px;
    height: 44px;
    left: 80.5vw;
    top: 14vh;

    font-family: 'Biryani';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    cursor: pointer;
}



#admin_border{
    position: absolute;
    width: 31vh;
    height: 90px;
    left: 78.5vw;
    top: 11vh;

    border: 5px solid #FF9900;
    box-sizing: border-box;
    border-radius: 25px;
}


#have_an_account {

    position: absolute;
    width: 287px;
    height: 40px;
    left: 38.5vw;
    top: 89vh;

    font-family: Biryani;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.25em;

    color: #FFFFFF;

    cursor: pointer;


}




#female {
    display: block;
    position: absolute;
    left: 22vw;
    top: 64vh;
    cursor: pointer;
}




#male {
    display: block;
    position: absolute;
    left: 32vw;
    top: 64vh;
    cursor: pointer;
}




#r1 {
    display: block;
    position: absolute;
    left: 64vw;
    top: 35vh;
    cursor: pointer;
}
  
#r2 {
    display: block;
    position: absolute;
    left: 76vw;
    top: 35vh;
    cursor: pointer;
}
  