@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap');



#background {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/bg02.jpg"), #000000;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#logo  {
    font-family: 'Lexend Deca';
    position: absolute;
    width: 170px;
    height: 30px;
    left: 50px;
    top: 35px;

    font-style: normal;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 62px;

    color: #FFFFFF;

    letter-spacing: 0.05em;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}
#user_login {
    position: absolute;
    width: 40px;
    height: 500px;
    left: 50px;
    top: 105px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 90px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #FFFFFF;
}
#border-highlight {
    position: absolute;
    width: 400px;
    height: 8px;
    left: 50px;
    top: 100px;

    background: #7CA5E2;
}
#admin-login  {
    position: absolute;
    width: 197px;
    height: 39px;
    left: 141vh;
    top: 50px;
    outline: none;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;
    cursor: pointer;
    color: #FFFFFF;
}
#underline-highlight {
    position: absolute;
    width: 205px;
    height: 4px;
    left: 141vh;
    top: 90px;

    background: #7CA5E2;
}


#email {
    position: absolute;
    width: 90px;
    height: 39px;
    left: 55vw;
    top: 50vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}


#password {

    position: absolute;
    width: 90px;
    height: 39px;
    left: 55vw;
    top: 60vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: 0.1em;

    color: #FFFFFF;

}



#email_box {

    position: absolute;
    width: 280px;
    height: 55px;
    left: 68vw;
    top: 48.5vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;

}


#password_box  {

    position: absolute;
    width: 280px;
    height: 55px;
    left: 68vw;
    top: 58.5vh;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    background: transparent;

}



#submit_box {

    position: absolute;
    width: 280px;
    height: 55px;
    left: 68vw;
    top: 68.5vh;

    background: #FFFFFF;
    border-radius: 25px;
    cursor : pointer;

}


input[type=submit] {

    position: absolute;
    width: 280px;
    height: 55px;
    left: 0vw;
    top: 0vh;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: #000000;


}



input[type=text] {
    
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: white;
    text-align: center;

}


input[type=password] {
    
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.1em;

    color: white;
    text-align: center;

}





#dont_have_an_account {

    position: absolute;
    width: 420px;
    height: 30px;
    left: 63.5vw;
    top: 76.5vh;

    font-family: 'Biryani';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.25em;
    cursor : pointer;

    color: #FFFFFF;

}