<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body>
    <h2>Contacts</h2>
    <h4>Developer 1</h4>
    <p>Name    : Anudeep Kolluri</p>
    <p>Gmail   : anudeepk.2001@gmail.com</p>
    <p>Phone   : +91 9398536717</p>
    <p>Address : Near Bharath college, Selyur road, Tambarm</p>
    <p>Roles   : Design, Front-end, Back-end, Database </p>
    <br>
    <h4>Developer 2</h4>
    <p>Name    : V Dinesh Karthik</p>
    <p>Gmail   : kamiinaosuke345@gmail.com</p>
    <p>Phone   : +91 9014154267</p>
    <p>Address : Navya Arcade,Hyderabad,Telangana</p>
    <p>Roles   : Design, Front-end, Bootstrap</p>
    <a href="{{url_for('index')}}"><button>Index</button></a>
</body>
</html>