<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Welcome to Cress!</title>
</head>
<body>
    <div id='background'></div>
    <div id='logo'>CRESS</div>


    <a href="{{url_for('login')}}"><button></button><div class="loginContainer">
        <div id="loginBox"></div>
        <div id="loginRect"></div>
        <div id="login">LOGIN</div>
    </div></button></a>


    <div class="achievement">
        <div id='highlight_box'></div>
        <div id='highlight_text'>A bank achievement</div>
        <a href="{{url_for('register')}}"><button></button><div class="signup_container">
            <div id="signupBox"></div>
            <div id="signupRect"></div>
            <div id="signup">SIGN&nbsp;UP</div>
        </div></button></a>
    </div>


    <div class="wrapper">
        <a href="{{url_for('projects')}}"><p class="project">PROJECTS</p></a>
        <a href="{{url_for('services')}}"><p class="service">SERVICES</p></a>
        <a href="{{url_for('about_us')}}"><p class="about">ABOUT&nbsp;US</p></a>
        <a href="{{url_for('contact_us')}}"><p class="contact">CONTACT&nbsp;US</p></a>
    </div>
</body>
</html>