<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/user_login.css">
    <title>Login</title>
</head>
<body>



    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith%}


    <div id='background'></div>
    <a href="{{url_for('index')}}"><button><div id="logo">CRESS</div></button></a>
    <div id = "border-highlight"></div>
    <div id="user_login">User&nbsp;Login</div>

    <a href="{{url_for('index')}}"><button>Index Page</button></a><br>


    <!-- hmm -->
    <!-- this is what u did for index lmao  -->
    <!-- >.> -->
    <!-- yeet works now -->
    <!-- yep -->

    <a href="{{url_for('admin_login')}}"><button>
        <div id="admin-login" >Admin&nbsp;Login</div></button>  
    </a>
    <div id="underline-highlight" ></div>




    <br><br><br>
    <form action="#" method="POST">

        <div id="email">Email</div><input type="text" name="email" id="email_box">

        <div id="password">Password</div><input type="password" name="password" id="password_box">

        <input type="submit" value="LOGIN" id = "submit_box">
    </form>

    <a href="{{url_for('register')}}"><button><div id="dont_have_an_account">Don't have an account?</div></button></a>



    </form>
</body>
</html>