<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin_register.css">
    <title>Admin Signup</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith%}
    <h3>User sign-up</h3>




    <div id='background'></div>

    <div id="gradient"></div>

    <a href="{{url_for('index')}}"><button><div id="logo">CRESS</div></button></a>
    <div id = "border-highlight"></div>
    <div id="user_signup">User&nbsp;Signup</div>




    <!-- <a href="{{url_for('index')}}"><button>Index Page</button></a><br> -->

    
    <a href="{{ url_for('register') }}">
        <button>
            <div id='admin_border'></div>
            <div id='admin_register_text'>User&nbsp;Register</div>
        </button>
    </a>

    <form action="#" method = "POST">





        <div id='t1'>First name</div>           <input type="text" name="Fname" id="Fname">
        <div id='t2'>Last name</div>            <input type="text" name="Lname" id="Lname">
        <div id='t3'>E-mail</div>               <input type="email" name="email" id="email">
        <div id='t4'>Phone no.</div>            <input type="text" name="number" id="number">
        <p id='gender'>Gender</p>
        <div id='t5'>Female</div>                <input type="radio" name="gender" id="female" value = "female">Female
        <div id='t6'>Male</div>                  <input type="radio" name="gender" id="male" value = "male">Male
        <div id='t7'>Date of birth</div>         <input type="date" name="dob" id="dob">
        <div id='t10'>Office id</div>           <input type="text" name="office_id" id="profession">
        <div id='t11'>Branch</div>               <input type="text" name="branch" id="salary">
        <div id='t12'>Password</div>             <input type="password" name="password" id="password">
        <div id='t13'>Confirm</div>              <input type="password" name="password_re" id="password_re">




    
        <input type="submit" value="Sign up" id="Submit">
        </form>
        <a href="{{url_for('admin_login')}}"><div id="have_an_account">Admin login</div></a>

</body>
</html>